


// 我的帐户：可通用
.MyAccount {

    .content-block {
        margin: 10px 0;
    }

    .message-type, .money-type {
        background-image: url(../app-icons/icon-money.png);
        background-size: 1.5em 1.5em;
        line-height: 1.8em;
        background-repeat: no-repeat;
        padding-left: 2em;
    }
    // 
    .message-type {
        background-image: url(../app-icons/icon-message.png);
    }

    .money-content {
        padding-left: 2em;
    }
}

// 我的约会： 可通用
.Meeting {

    margin-bottom: 300px;
    
    // tab导航
    .tab-link.button {
        color: lightgray;
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;

        &.active {
            color: white;
            border-bottom: 1px solid white;
        }
    }

    // 块标题
    .content-block-title {
        font-size: 1em;
        font-weight: bold;
    }


    // 列表内容弹性布局，内容块一律拉伸填满
    .item-inner {
        display: flex;
        align-items: stretch;
    }

    // 列表项的 checkbox
    .item-media {
        min-width: 30px;            //  原宽度40px，要减小一点。
        align-self: flex-start;     //  原无，默认为 center，改到最上。
        margin-top: 2px;
    }


    // 列表操作区（纵向排列子元素，分布空白区，居中文本和子元素，便于放按钮和提示文本）
    .info-action {
        width: 100px;
        background-color: #ecf3fe;
        font-size: smaller; 
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        padding: 10px;

        .button {
            font-size: 12px;
            line-height: 2em;
            height: 2em;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: .5em;
        }
    }

    .mini-button {
        font-size: 12px;
        line-height: 2em;
        height: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: .5em;
    }

    // 信息块
    .info-content {
        color: gray;
        margin-right: 6px;
        p {
            margin-top: .1em;
            margin-bottom: .2em;
        }
    }

    // 信息标题（加粗）
    .info-title {
        font-weight: bold;
        font-size: 12px;
    }

    // 信息文本 (灰色，控制为2行）
    .info-text {
        font-size: 12px;
        color: #757575;
        line-height: 1.5em;
        position: relative;
        overflow: hidden;
        max-height: 40px;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }

    .info-time {
        font-size: 10px;
    }
    .info-misc {
        font-size: 12px;
        color: gray;
    }

    // 图标
    .has-icon {
        background-repeat: no-repeat;
        background-size: 1.3em;
        padding-left: 1.8em;

        &-phone {
            @extend .has-icon;
            background-image: url(../app-icons/icon-mobile.png);
        }

        &-time {
            @extend .has-icon;
            background-image: url(../app-icons/icon-time.png);
        }
        &-money {
            @extend .has-icon;
            background-image: url(../app-icons/icon-money.png);
        }
        &-address {
            @extend .has-icon;
            background-image: url(../app-icons/icon-address.png);
        }
    }


    .card-wrapper {
        background: #3982e8;
        border: 1px solid #3982e8;
        position: relative;
        margin-bottom: 50px;
    }

    .card {
        border-radius: 10px;
        padding: 15px;
        margin-bottom: -20px;
    }
}

